@page "/export"
@using System.Globalization;

<PageTitle>Export</PageTitle>

<RadzenRow>
    <RadzenColumn Size="12">
        <RadzenText Text="Export" TextStyle="TextStyle.H3" TagName="TagName.H1" />
    </RadzenColumn>
</RadzenRow>

<RadzenRow>
    <RadzenColumn Size="12">
        <RadzenButton Text="Export xlsx" Click=@ExportXlsx></RadzenButton>
    </RadzenColumn>
    <RadzenColumn Size="12">
        <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="1rem">
            <RadzenDatePicker @bind-Value=@date DateFormat="yyyy-MM-dd" Change="FilterOrders" />
            <span>
                <RadzenCheckBox Name="ClosedOrders" TValue="bool" @bind-Value=@showClosed Change="FilterOrders" />
                <RadzenLabel Text="Closed Orders" Component="ClosedOrders" />
            </span>
            <span>
                <RadzenCheckBox Name="OpenOrders" TValue="bool" @bind-Value=@showOpen Change="FilterOrders" />
                <RadzenLabel Text="Open Orders" Component="OpenOrders" />
            </span>
        </RadzenStack>
    </RadzenColumn>
</RadzenRow>

<RadzenDataGrid class="rz-mt-4" @ref="dataGrid"
                Data="@orderItems"
                TItem="(Models.Order order, Models.MenuItem item)"
                AllowPaging="true"
                AllowSorting="true">
    <Columns>
        <RadzenDataGridColumn TItem="(Models.Order order, Models.MenuItem item)" Title="ID">
            <Template Context="data">@(data.order.Id)</Template>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="(Models.Order order, Models.MenuItem item)" Property="order.Date" Title="Date">
            <Template Context="data">@(data.order.Date.ToString(CultureInfo.CurrentCulture))</Template>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="(Models.Order order, Models.MenuItem item)" Property="item.Name" Title="Name">
            <Template Context="data">@(data.item.Name)</Template>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="(Models.Order order, Models.MenuItem item)" Property="item.Price" Title="Price">
            <Template Context="data">@(data.item.Price)</Template>
        </RadzenDataGridColumn>
    </Columns>
</RadzenDataGrid>
